@import '../../styles/variables/variables';

.button {
  background-color: $dark;
  color: $light;
  padding: $small-gap $big-gap;
  border-radius: 4px;
  border: 0;
  font-size: 18px;
  transition: opacity .2s ease, background-color .2s ease;
  display: flex;
  align-items: center;
  gap: $small-gap;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  &__icon {
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
}
