@import "../../styles/variables/variables";

.app {
  font-size: 18px;
  line-height: 1.2;
  font-family: 'Roboto', serif;
  color: $dark;
  min-height: 100vh;
  background-color: $light;
  display: flex;
  flex-direction: column;
}

* {
  //outline: 1px solid red;
}
