@import '../../styles/variables/variables';

.navigation {
  background-color: $light;
  width: 100%;
  max-width: 250px;

  @media screen and (max-width: 768px)  {
    max-width: 100%;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: $small-gap;
  }

  &__link {
    background-color: $white;
    border-radius: 4px;
    display: block;
    text-decoration: none;
    padding: $small-gap;
    color: $dark;
    transition: color .2s ease, opacity .2s ease, box-shadow .2s ease;

    &:hover {
      color: $primary;
      box-shadow: 0 3px 6px -3px rgba($dark, 0.3);
    }

    &:active {
      opacity: 0.8;
    }

    @media screen and (max-width: 768px)  {
      text-align: center;
    }
  }
}
