@import "../../styles/variables/variables";

.header {
  background-color: $dark;
  color: $light;
  padding: $middle-gap;
  display: flex;
  align-items: center;
  gap: $middle-gap;

  &__title {
    font-size: 24px;

    @media screen and (max-width: 768px) {
      font-size: 16px;
      text-align: center;
    }
  }

  &__link {
    transition: opacity .2s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    display: block;
    background-image: url("../../images/sort.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

}
