@import '../variables/variables';


.navigation {
  &__link {
    text-decoration: none;
    color: $dark;
    transition: color .2s ease, opacity .2s ease;

    &:hover {
      color: $primary;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
