@import '../../styles/variables/variables';

.control-panel {
  display: flex;
  align-items: center;
  gap: $big-gap;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    gap: $middle-gap;
  }

  &__range {
    width: 100%;
  }

  &__elements {
    display: flex;
    align-items: center;
  }
}
